<div class="container">
    <div class="row">
        <div class="col-xs-12">
           <ul class="breadcrumb">
               <li><a href="#/">Home</a></li>
               <li class="active">Children</li>
           </ul>
        </div>
    </div>
    <br>
    <div class="col-xs-12" ng-if="!showChildren">
      <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showChildren">
    <div class="list-group">
      <label>Filter by: <input ng-model="searchText"></label> <br>
      <a ui-sref="app.child({id: child.id})" class="list-group-item" ng-repeat="child in children | filter:searchText">
          <div class="media">
              <div class="media-left">
                  <img class="media-object" ng-src="../images/{{child.sex}}.png" alt={{child.firstName}} height="64" width="64" >
              </div>
              <div class="media-body">
<!--                <h4 class="media-heading">{{child.firstName}} {{child.lastName}} <span class="label label-success">{{child.behaviours.length}}</span></h4>-->
                <h4 class="media-heading">{{child.firstName}} {{child.lastName}}</h4>
                <p>Disorder: {{child.disorder}}</p>
                <p>Token: {{child.token}}</p>
                <p>{{child.comments}}</p>
                  <!-- {{child}} -->
              </div>
          </div>
      </a>
    </div>
    <p ng-show="!children.length">No children, <a ui-sref="app.child">add one</a></p>
    </div>
</div>