
    <div class="container">
        
        <header class="jumbotron">
        <div class="row" align="center">
            <div class="col-xs-12">
                <h2>PsychoReg</h2>
            </div>
            <div class="col-xs-12">
                Psychologist's Front End to Children Behaviour Register
            </div>
        </div>
        </header>
        
        <br/>

        <div class="alert alert-info" role="alert">
            <h2>How does it work?</h2>
            <p>Psychologists logged in this web app can add children to their profiles, and view all the behaviours that a child's parents have registered through the mobile app.</p>
            <br/>
            <p>For testing and evaluation purposes, you can use these users that have the 'psychologist' role:</p>
            <br/>
            <p style="margin-left: 40px;">{username:'psycho1', password:'1234'}</p>
            <p style="margin-left: 40px;">{username:'psycho2', password:'1234'}</p>
            <br/>
            <p>Please, use these users fairly.</p>
        </div>

        <br/>

        <div class="alert alert-warning" role="alert" align="center">
        <p>Full Stack Web Development Capstone Project</p>
        <br/>
        <p>Oscar Perez - 2016</p>
        </div>

    </div>
