
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="#/">Home</a></li>
                   <li class="active">Stats</li>
               </ul>
            </div>
        </div>
        
    
        <br/>

        <div class="alert alert-info" role="alert" align="center">
            <h2>App Statistics</h2>
            <h4>... growing by the day :)</h4>
        </div>

        <div class="well" align="center">
            <h2><span class="glyphicon glyphicon-blackboard"></span> Children : {{stats.children}}</h2>
        </div>
        <div class="well" align="center"> 
            <h2><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Behaviours : {{stats.behaviours}}</h2>
        </div>
        <div class="well" align="center">
            <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users : {{stats.users}}</h2>
        </div>


    </div>
